In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("transactions.csv");

In [4]:
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [5]:
print(df.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [16]:
print(df.sum());

TransactionID                                                     55
TransactionDate    2010-08-212011-05-262011-06-162012-08-262013-0...
UserID                                                          31.0
ProductID                                                         34
Quantity                                                          24
dtype: object

In [20]:
print(df["UserID"])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [25]:
print(df[['UserID', 'TransactionID']])

   UserID  TransactionID
0     7.0              1
1     3.0              2
2     3.0              3
3     1.0              4
4     2.0              5
5     2.0              6
6     3.0              7
7     NaN              8
8     7.0              9
9     3.0             10

In [26]:
print(df.iloc[1])

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [29]:
filtered_df = df[df['UserID'] >5] 
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3

In [32]:
df.rename(columns={"Quantity": "Quant"}, inplace=True)
print(df.head())
# rename of colums

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [35]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             0
ProductID          0
Quant              0
dtype: int64

In [38]:
df['UserID'].fillna(df['UserID'].mean(), inplace=True)
print(df)

   TransactionID TransactionDate    UserID  ProductID  Quant
0              1      2010-08-21  7.000000          2      1
1              2      2011-05-26  3.000000          4      1
2              3      2011-06-16  3.000000          3      1
3              4      2012-08-26  1.000000          2      3
4              5      2013-06-06  2.000000          4      1
5              6      2013-12-23  2.000000          5      6
6              7      2013-12-30  3.000000          4      1
7              8      2014-04-24  3.444444          2      3
8              9      2015-04-24  7.000000          4      3
9             10      2016-05-08  3.000000          4      4

In [39]:
df.dropna(inplace=True)

In [42]:
df_sorted = df.sort_values(by=["Quant", "TransactionID"], 
ascending=[True, False])
print(df_sorted)

   TransactionID TransactionDate    UserID  ProductID  Quant
6              7      2013-12-30  3.000000          4      1
4              5      2013-06-06  2.000000          4      1
2              3      2011-06-16  3.000000          3      1
1              2      2011-05-26  3.000000          4      1
0              1      2010-08-21  7.000000          2      1
8              9      2015-04-24  7.000000          4      3
7              8      2014-04-24  3.444444          2      3
3              4      2012-08-26  1.000000          2      3
9             10      2016-05-08  3.000000          4      4
5              6      2013-12-23  2.000000          5      6

In [50]:
subset_rows = df.iloc[[0, 2, 5]] 
print(subset_rows)
subset = df[(df['Quant'] > 1) & (df['Quant'] < 4)]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
2              3      2011-06-16     3.0          3      1
5              6      2013-12-23     2.0          5      6
   TransactionID TransactionDate    UserID  ProductID  Quant
3              4      2012-08-26  1.000000          2      3
7              8      2014-04-24  3.444444          2      3
8              9      2015-04-24  7.000000          4      3

In [51]:
subset = df[df['Quant'] > 1][['TransactionID', 
'TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [52]:
Code:
foo = [True, False, True, False] # Example of a boolean array
subset_rows = df[foo]
print(subset_rows)

True means keep this row

False means skip this row

SyntaxError: invalid syntax (903498214.py, line 1)

In [53]:
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [54]:
columns_to_exclude = ['Quant', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not 
in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate    UserID
0              1      2010-08-21  7.000000
1              2      2011-05-26  3.000000
2              3      2011-06-16  3.000000
3              4      2012-08-26  1.000000
4              5      2013-06-06  2.000000
5              6      2013-12-23  2.000000
6              7      2013-12-30  3.000000
7              8      2014-04-24  3.444444
8              9      2015-04-24  7.000000
9             10      2016-05-08  3.000000

In [55]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate']) 
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quant                       int64
dtype: object

In [56]:
df['Foo'] = df['UserID'] + df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant  Foo
0              1      2010-08-21     7.0          2      1  9.0
1              2      2011-05-26     3.0          4      1  7.0
2              3      2011-06-16     3.0          3      1  6.0
3              4      2012-08-26     1.0          2      3  3.0
4              5      2013-06-06     2.0          4      1  6.0

In [66]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])

In [67]:
df['TransactionDate'] = df['TransactionDate'].dt.date

In [68]:
print(df)

   TransactionID TransactionDate    UserID  ProductID  Quant        Foo
0              1      2010-08-21  7.000000          2      1   9.000000
1              2      2011-05-26  3.000000          4      1   7.000000
2              3      2011-06-16  3.000000          3      1   6.000000
3              4      2012-08-26  1.000000          2      3   3.000000
4              5      2013-06-06  2.000000          4      1   6.000000
5              6      2013-12-23  2.000000          5      6   7.000000
6              7      2013-12-30  3.000000          4      1   7.000000
7              8      2014-04-24  3.444444          2      3   5.444444
8              9      2015-04-24  7.000000          4      3  11.000000
9             10      2016-05-08  3.000000          4      4   7.000000

In [ ]:
Updating Existing Values
Code:
df.loc[df['UserID'] == 2, 'Quantity'] = new_quantity_value

In [70]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])

In [73]:
print(df)

   TransactionID TransactionDate    UserID  ProductID  Quant        Foo
0              1      2010-08-21  7.000000          2      1   9.000000
1              2      2011-05-26  3.000000          4      1   7.000000
2              3      2011-06-16  3.000000          3      1   6.000000
3              4      2012-08-26  1.000000          2      3   3.000000
4              5      2013-06-06  2.000000          4      1   6.000000
5              6      2013-12-23  2.000000          5      6   7.000000
6              7      2013-12-30  3.000000          4      1   7.000000
7              8      2014-04-24  3.444444          2      3   5.444444
8              9      2015-04-24  7.000000          4      3  11.000000
9             10      2016-05-08  3.000000          4      4   7.000000

In [5]:
import pandas as pd

df = pd.read_csv("transactions.csv")

In [8]:
df.drop(columns=['Foo'], inplace=True,errors='ignore')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [9]:
print(df.shape[1])

5

In [10]:
print(df.shape[0])

10

In [17]:
 print(df['UserID'].values)
# product_array = df['PID'].to_numpy()

[ 7.  3.  3.  1.  2.  2.  3. nan  7.  3.]

In [ ]:
✅ 1. Print Summary of Transaction Dataset

print(df.describe(include='all'))
✅ 2. Number of Attributes

print(df.shape[1])  # Columns count
✅ 3. Number of Records

print(df.shape[0])  # Rows count
✅ 4. Get Row Names

print(df.index.tolist())
✅ 5. Get Column Names

print(df.columns.tolist())
✅ 6. View Top 10 Records

print(df.head(10))
✅ 7. Rename “Quantity” to “Quant”

df.rename(columns={'Quantity': 'Quant'}, inplace=True)
✅ 8. Rename “ProductID” to “PID” and “UserID” to “UID”

df.rename(columns={'ProductID': 'PID', 'UserID': 'UID'}, inplace=True)
✅ 9. Order by TransactionID (Descending)

df.sort_values(by='TransactionID', ascending=False)
✅ 10. Order by Quant (Ascending) and TransactionDate (Descending)

df.sort_values(by=['Quant', 'TransactionDate'], ascending=[True, False])
✅ 11. Set Column Order: PID, Quant, TransactionDate, TransactionID, UID

df = df[['PID', 'Quant', 'TransactionDate', 'TransactionID', 'UID']]
✅ 12. Make UID the First Column

df = df[['UID', 'TransactionID', 'TransactionDate', 'PID', 'Quant']]
✅ 13. Get the 2nd Column (TransactionDate)

second_column = df.iloc[:, 1]
✅ 14. Get ProductID Array

pid_array = df['PID'].values
✅ 15. Same ProductID using Variable

product_array = df['PID'].to_numpy()
✅ 16. Subset Rows 1, 3, 6

df.iloc[[0, 2, 5]]
✅ 17. Subset Rows Excluding 1, 3, 6

df.drop(index=[0, 2, 5], errors='ignore')
✅ 18. First 3 Rows

df.head(3)
✅ 19. Last 2 Rows

df.tail(2)
✅ 20. Exclude Last 2 Rows

df.iloc[:-2]
✅ 21. Exclude First 3 Rows

df.iloc[3:]
✅ 22. Rows Where Quant > 1

df[df['Quant'] > 1]
✅ 23. Rows Where UID = 2

df[df['UID'] == 2]
✅ 24. Quant > 1 and UID = 2

df[(df['Quant'] > 1) & (df['UID'] == 2)]
✅ 25. Quant + UID > 3

df[(df['Quant'] + df['UID']) > 3]
✅ 26. Subset Rows where foo is True

foo = np.array([True, False, True, False, True])
df[foo[:df.shape[0]]]
✅ 27. Subset Rows where bar is Positive

bar = np.array([1, -1, 2, -2, 3])
df[bar[:df.shape[0]] > 0]
✅ 28. foo is True or bar is Negative

df[(foo[:df.shape[0]]) | (bar[:df.shape[0]] < 0)]
✅ 29. NOT foo and NOT bar Negative

df[(~foo[:df.shape[0]]) & ~(bar[:df.shape[0]] < 0)]
✅ 30. Subset Columns 1 and 3

df.iloc[:, [0, 2]]
✅ 31. Subset by TransactionID and TransactionDate

df[['TransactionID', 'TransactionDate']]
✅ 32. Subset using Logical Operator

df.loc[:, (df.columns == 'TransactionID') | (df.columns == 'TransactionDate')]
✅ 33. Subset by Variable List

cols = ['UID', 'Quant']
df[cols]
✅ 34. Exclude Variable List

exclude_cols = ['UID', 'Quant']
df[[col for col in df.columns if col not in exclude_cols]]
✅ 35. Insert & Update Values (set UID of 1st row to 100)

df.at[0, 'UID'] = 100
✅ 36. Convert TransactionDate to Date Type

df['TransactionDate'] = pd.to_datetime(df['TransactionDate']).dt.date
✅ 37. Insert Column Foo = UID + PID

df['Foo'] = df['UID'] + df['PID']