In [1]:
import pandas as pd
df=pd.read_csv("car_sales.csv")
print(df.head())

    Manufacturer              Model  Sales in thousands 4-year resale value  \
0  Acura          Integra                        16.919               16.36
1  Acura          TL                             39.384              19.875
2  Acura          CL                             14.114              18.225
3  Acura          RL                              8.588              29.725
4  Audi           A4                             20.397              22.255

  Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0    Passenger               21.5         1.8        140     101.2  67.3
1    Passenger               28.4         3.2        225     108.1  70.3
2    Passenger                  .         3.2        225     106.9  70.6
3    Passenger                 42         3.5        210     114.6  71.4
4    Passenger              23.99         1.8        150     102.6  68.2

  Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0  172.4       2.639          13.2              28      2-Feb-14
1  192.9       3.517          17.2              25      6-Mar-15
2    192        3.47          17.2              26      1-Apr-14
3  196.6        3.85            18              22      3-Oct-15
4    178       2.998          16.4              27     10-Aug-15

In [2]:
import pandas as pd
df = pd.read_csv("car_sales.csv")
num_attributes = df.shape[1]
print("Number of attributes:", num_attributes)

Number of attributes: 15

In [3]:
import pandas as pd
df = pd.read_csv("car_sales.csv")
print("DataFrame Info:")
print(df.info())
df.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.5+ KB

In [ ]:
import pandas as pd

  #loading csv file using pandas
  #  = pd.read_csv('Weather.csv')

  #Preview DataFrames with h.head()

IndentationError: unexpected indent (2892013559.py, line 4)

In [13]:
#to check any columns contains missing vaues
  df.isnull().any()
  #to check count of missing vaues column wise
  df.isnull().sum()
  #to check count of missing vaues row wise
  df.isnull().sum(axis = 1)

IndentationError: unexpected indent (16565714.py, line 3)

In [14]:
import pandas as pd

In [15]:
df.isnull().any()
  #to check count of missing vaues column wise
  df.isnull().sum()
  #to check count of missing vaues row wise
  df.isnull().sum(axis = 1)

IndentationError: unexpected indent (284047777.py, line 3)

In [1]:
import pandas as pd

  #loading csv file using pandas
  df = pd.read_csv('Weather.csv')

  #Preview DataFrames with head()
  df.head()

IndentationError: unexpected indent (3047404513.py, line 4)

In [2]:
import pandas as pd
df=pd.read_csv("car_sales.csv")
print(df.head())
print(df.isnull().sum())

    Manufacturer              Model  Sales in thousands 4-year resale value  \
0  Acura          Integra                        16.919               16.36
1  Acura          TL                             39.384              19.875
2  Acura          CL                             14.114              18.225
3  Acura          RL                              8.588              29.725
4  Audi           A4                             20.397              22.255

  Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0    Passenger               21.5         1.8        140     101.2  67.3
1    Passenger               28.4         3.2        225     108.1  70.3
2    Passenger                  .         3.2        225     106.9  70.6
3    Passenger                 42         3.5        210     114.6  71.4
4    Passenger              23.99         1.8        150     102.6  68.2

  Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0  172.4       2.639          13.2              28      2-Feb-14
1  192.9       3.517          17.2              25      6-Mar-15
2    192        3.47          17.2              26      1-Apr-14
3  196.6        3.85            18              22      3-Oct-15
4    178       2.998          16.4              27     10-Aug-15
Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64

In [3]:
print(df.isnull().sum())

Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64

In [6]:
df["Model"].fillna(df["Model"].mean(), inplace=True )
# df['column_name'].fillna(df['column_name'].mean(), inplace=True)

TypeError: Could not convert string 'Integra          TL               CL               RL               A4               A6               A8               323i             328i             528i             Century          Regal            Park Avenue      LeSabre          DeVille          Seville          Eldorado         Catera           Escalade         Cavalier         Malibu           Lumina           Monte Carlo      Camaro           Corvette         Prizm            Metro            Impala           Sebring Coupe    Sebring Conv.    Concorde         Cirrus           LHS              Town & Country   300M             Neon             Avenger          Stratus          Intrepid         Viper            Ram Pickup       Ram Wagon        Ram Van          Dakota           Durango          Caravan          Escort           Mustang          Contour          Taurus           Focus            Crown Victoria   Explorer         Windstar         Expedition       Ranger           F-Series         Civic            Accord           CR-V             Passport         Odyssey          Accent           Elantra          Sonata           I30              S-Type           Wrangler         Cherokee         Grand Cherokee   ES300            GS300            GS400            LS400            LX470            RX300            Continental      Town car         Navigator        Mirage           Eclipse          Galant           Diamante         3000GT           Montero          Montero Sport    Mystique         Cougar           Sable            Grand Marquis    Mountaineer      Villager         C-Class          E-Class          S-Class          SL-Class         SLK              SLK230           CLK Coupe        CL500            M-Class          Sentra           Altima           Maxima           Quest            Pathfinder       Xterra           Frontier         Cutlass          Intrigue         Alero            Aurora           Bravada          Silhouette       Neon             Breeze           Voyager          Prowler          Sunfire          Grand Am         Firebird         Grand Prix       Bonneville       Montana          Boxter           Carrera Coupe    Carrera Cabriolet5-Sep3-SepSL               SC               SW               LW               LS               Outback          Forester         Corolla          Camry            Avalon           Celica           Tacoma           Sienna           RAV4             4Runner          Land Cruiser     Golf             Jetta            Passat           Cabrio           GTI              Beetle           S40              V40              S70              V70              C70              S80              ' to numeric

In [11]:
priintdef find_min_max(df,Model))

SyntaxError: unmatched ')' (2581352479.py, line 1)

In [14]:
 min_value = df['Model'].min()
 max_value = df['Model'].max()

In [16]:
print(max_value)

Xterra

In [18]:
min_row = df[df['Model'] == max_value]

print(min_value)